##*FUNCIONES *ENDPOINT*

###Importamos Librerias

In [24]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import warnings
warnings.filterwarnings('ignore')

###Funcion 1:

 developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de retorno:

In [25]:
#Leemos el archivo reviews.parquet en un DataFrame
df_EP1 = pq.read_table("1_desarrollador.parquet").to_pandas()
df_EP1.head(5)

   price  item_id            developer  release_year
0   9.99   282010  Stainless Games Ltd          1997
1   9.99       70                Valve          1998
2   9.99       70                Valve          1998
3   9.99       70                Valve          1998
4   9.99       70                Valve          1998

In [26]:
def developer(desarrollador: str):
    
    listaaños = df_EP1.release_year.unique() #almaceno en una variable los valores unicos del campo Año
    listadeveloper = df_EP1.developer.unique() #almaceno en una variable los valores unicos del campo developer
    
    lista = []
    
    if desarrollador in listadeveloper: 
        for años in listaaños:
            todo = len(df_EP1[(df_EP1.release_year == años) & (df_EP1.developer == desarrollador)])
            cantidaditems = len(df_EP1[(df_EP1.price == 0) & (df_EP1.release_year == años) & (df_EP1.developer == desarrollador)])
            if todo != 0 or cantidaditems != 0:
                porcentaje = f"{round(cantidaditems*100/todo,2)}%"
                lista.append([años,cantidaditems,porcentaje])
            else:
                pass
    elif desarrollador not in listadeveloper:
        print('No cuento con los registros de esa empresa en mi base de datos')

    df = pd.DataFrame(lista, columns=["release_year", "Cantidad de Items", "Contenido Free"])# Crear un DataFrame a partir del diccionario
    df.columns = ["release_year", "Cantidad de Items", "Contenido Free"]# Agregar la fila de encabezado
    df = df.sort_values(by='release_year',ascending=False)
    return df

In [27]:
developer('PopCap Games, Inc.')

   release_year  Cantidad de Items Contenido Free
3          2010                  0           0.0%
2          2009                  0           0.0%
1          2007                  9         69.23%
0          2006                  0           0.0%

###Funcion 2:

def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

In [5]:
#Leemos el archivo reviews.parquet en un DataFrame
df_EP2 = pq.read_table("2User_id.parquet").to_pandas()
df_EP2.head(5)

   price              user_id  recommend  posted_year
0   9.99    BlazingTheAmazing       True         2013
1   9.99               exiaez       True         2015
2   9.99             mrpfresh       True         2011
3   9.99  armouredmarshmallow       True         2014
4   9.99            Bluegills       True         2013

In [6]:
def userdata(usuario):
    lista = df_EP2.user_id.unique()
    if usuario in lista:
        dfusuario = df_EP2[(df_EP2.user_id == usuario)]
        maneyuser = f"{round(dfusuario.price.sum(),2)} USD"
        recomend = f"{int(len(dfusuario[dfusuario.recommend == 1])*100/len(dfusuario))}%"
        itemss = len(dfusuario)
        data = {"User": usuario, 
                "Dinero gastado": maneyuser, "% de recomendación": recomend, "cantidad de items": itemss}
        return data

In [7]:
userdata('digfernandes')

{'User': 'digfernandes',
 'Dinero gastado': '179.92 USD',
 '% de recomendación': '87%',
 'cantidad de items': 8}

###Funcion 3:

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento.

In [8]:
#Leemos el archivo reviews.parquet en un DataFrame
df_EP3 = pq.read_table("3genero.parquet").to_pandas()
df_EP3.head(5)

   release_year  genres              user_id  playtime_hours
0          1998  Action             mrpfresh            2.32
1          1998  Action  armouredmarshmallow           13.13
2          1998  Action            Bluegills            1.07
3          1998  Action    76561198071955492           53.92
4          1998  Action         digfernandes           21.68

In [9]:
def UserForGenre(genero):  

    años = df_EP3.release_year.unique()
    lista = []
    df_genero = df_EP3[df_EP3.genres == genero]
    usuario = df_genero.groupby('user_id')["playtime_hours"].sum().idxmax()
    for i in años:
        df = df_genero[df_genero.release_year == i]
        usuario2 = df[df.user_id == usuario]["playtime_hours"].sum()

        lista.append([i,usuario,usuario2])
    lista_ordenada = sorted(lista, key=lambda x: x[0], reverse=True)
    return lista_ordenada

In [10]:
UserForGenre('RPG')

[[2017, 'companothemuslim', 0.0],
 [2016, 'companothemuslim', 0.0],
 [2015, 'companothemuslim', 96.08],
 [2014, 'companothemuslim', 0.0],
 [2013, 'companothemuslim', 0.0],
 [2012, 'companothemuslim', 475.83],
 [2011, 'companothemuslim', 0.0],
 [2010, 'companothemuslim', 0.0],
 [2009, 'companothemuslim', 0.0],
 [2008, 'companothemuslim', 0.0],
 [2007, 'companothemuslim', 0.0],
 [2006, 'companothemuslim', 0.0],
 [2005, 'companothemuslim', 0.0],
 [2004, 'companothemuslim', 0.0],
 [2003, 'companothemuslim', 0.0],
 [2002, 'companothemuslim', 0.0],
 [2001, 'companothemuslim', 0.0],
 [2000, 'companothemuslim', 0.0],
 [1999, 'companothemuslim', 0.0],
 [1998, 'companothemuslim', 0.0],
 [1997, 'companothemuslim', 0.0],
 [1995, 'companothemuslim', 0.0],
 [1993, 'companothemuslim', 0.0],
 [1990, 'companothemuslim', 0.0]]

###Funcion 4:

def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)

In [11]:
#Leemos el archivo reviews.parquet en un DataFrame
df_EP4 = pq.read_table("4año.parquet").to_pandas()
df_EP4.head(5)

,developer,release_year,user_id,recommend,sentiment_analysis
0,Stainless Games Ltd,1997,BlazingTheAmazing,True,1
1,Valve,1998,exiaez,True,1
2,Valve,1998,mrpfresh,True,0
3,Valve,1998,armouredmarshmallow,True,1
4,Valve,1998,Bluegills,True,2

In [12]:
def best_developer_year(year):
    rango_aceptado = range(2010, 2016)
    if year not in rango_aceptado:
        return {"message": "Mi base de datos solo tiene registros entre 2010 y 2015"}
    year = int(year)
    recom = df_EP4[(df_EP4.recommend == 1) & (df_EP4.sentiment_analysis == 2) & (df_EP4.año == year)]
    developer_recommendations = recom.groupby("developer")["recommend"].sum()
    top_3_developers = developer_recommendations.nlargest(3)

    top_developers_list = []
    for rank, (developer, count) in enumerate(top_3_developers.items(), start=1):
        top_developers_list.append({"Puesto " + str(rank): developer})

    return top_developers_list

In [13]:
best_developer_year(2009)

{'message': 'Mi base de datos solo tiene registros entre 2010 y 2015'}

###Funcion 5:
def developer_reviews_analysis( desarrolladora : str ): Según el desarrollador, se devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor positivo o negativo.

In [14]:
#Leemos el archivo reviews.parquet en un DataFrame
df_EP5 = pq.read_table("5desarrolladora.parquet").to_pandas()
df_EP5.head(5)

             developer  sentiment_analysis
0  Stainless Games Ltd                   1
1                Valve                   1
2                Valve                   0
3                Valve                   1
4                Valve                   2

In [15]:
df_filtered_developer = df_EP5[(df_EP5['developer'] == 'Outerlight Ltd.') & (df_EP5['sentiment_analysis'] != 1)]
df = df_filtered_developer[df_filtered_developer.sentiment_analysis == 2]
df

             developer  sentiment_analysis
64     Outerlight Ltd.                   2
66     Outerlight Ltd.                   2
67     Outerlight Ltd.                   2
69     Outerlight Ltd.                   2
70     Outerlight Ltd.                   2
74     Outerlight Ltd.                   2
75     Outerlight Ltd.                   2
76     Outerlight Ltd.                   2
77     Outerlight Ltd.                   2
78     Outerlight Ltd.                   2
80     Outerlight Ltd.                   2
81     Outerlight Ltd.                   2
82     Outerlight Ltd.                   2
95     Outerlight Ltd.                   2
96     Outerlight Ltd.                   2
43107  Outerlight Ltd.                   2
43108  Outerlight Ltd.                   2
43110  Outerlight Ltd.                   2

In [16]:
df2 = df_filtered_developer[df_filtered_developer.sentiment_analysis == 0]
df2

             developer  sentiment_analysis
63     Outerlight Ltd.                   0
65     Outerlight Ltd.                   0
68     Outerlight Ltd.                   0
73     Outerlight Ltd.                   0
79     Outerlight Ltd.                   0
84     Outerlight Ltd.                   0
85     Outerlight Ltd.                   0
43109  Outerlight Ltd.                   0

In [17]:
def developer_reviews_analysis(desarrolladora):#: str, df_games_and_reviews: pd.DataFrame):
    # Filtramos por desarrolladora
    df_filt_developer = df_EP5[(df_EP5['developer'] == desarrolladora) & (df_EP5['sentiment_analysis'] != 1)]
    # Verificamos que haya datos para la desarrolladora
    if not df_filt_developer.empty:
        # Contamos los sentimientos y mapeamos el número del sentimiento a su etiqueta correspondiente
        sentiment_counts = df_filt_developer['sentiment_analysis'].value_counts()
        sentiment_mapping = {0: 'Negative', 2: 'Positive'}
        sentiment_counts.index = sentiment_counts.index.map(sentiment_mapping)
        
        result = {desarrolladora: sentiment_counts.to_dict()}
    else:
        result = 'No cuento con los registros de esa empresa en mi base de datos'

    return result

In [18]:
developer_reviews_analysis('Valve')

{'Valve': {'Positive': 5277, 'Negative': 556}}

In [19]:
df_EP5.developer.unique()[:15]

array(['Stainless Games Ltd', 'Valve', 'Outerlight Ltd.', 'GlyphX Games',
       'Introversion Software', 'Facepunch Studios', 'Deepred',
       'Bugbear Entertainment', 'Funcom',
       'Firaxis Games,Feral Interactive (Mac)',
       'Crystal Dynamics,Feral Interactive (Mac)', 'CAPCOM Co., Ltd.',
       'id Software', 'Freegamer', 'Gray Matter Studios'], dtype=object)